@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'Hahmlet-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {margin:0; padding:0;}
li {list-style: none;}
a {text-decoration: none; color:#333;}
html,body {color:#333; font-family: 'NanumSquare';}

/* 사용프로그램아이콘--------------------------------------------- */
.Ai {
    width:20px; height: 20px;
    display: inline-block; 
    padding: 2px; 
    margin: 0 4px; margin-bottom: 5px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    background: rgb(51, 36, 31);
    border: 2px solid rgb(255, 123, 0);
    letter-spacing:0.5px;
    color:rgb(255, 123, 0); 
}
.Ae {
    width:20px; height: 20px;
    display: inline-block; padding: 2px; margin: 0 4px; margin-bottom: 5px;
    background: rgb(46, 31, 59);
    border: 2px solid rgb(188, 130, 255);
    font-size: 17px; line-height: 20px;
    color:rgb(188, 130, 255); font-weight:bold; letter-spacing:-1.5px;
    text-align: center;
}
.Pr {width:20px; height: 20px;
    display: inline-block; padding: 2px; margin: 0 4px; margin-bottom: 5px;
    background: rgb(56, 31, 59);
    border: 2px solid rgb(223, 117, 255);
    font-size: 17px; line-height: 20px;
    color:rgb(223, 117, 255); font-weight:bold; letter-spacing:0px;
    text-align: center;
}
.Ps {width:20px; height: 20px;
    display: inline-block; padding: 2px; margin: 0 4px; margin-bottom: 5px;
    background: rgb(31, 43, 59);
    border: 2px solid rgb(52, 169, 216);
    font-size: 17px; line-height: 20px;
    color:rgb(137, 231, 255); font-weight:bold; letter-spacing:0px;
    text-align: center;
}

.Maya { width:24px; height: 24px;
    display: inline-block; padding: 2px; margin: 0 4px; margin-bottom: 5px;
    background: rgb(246, 251, 255);
    border: 2px solid rgb(255, 255, 255);
    font-size: 25px; line-height: 24px;
    color:rgb(107, 201, 218); font-weight:bold;
    text-align: center;
}
/* 사용프로그램아이콘--------------------------------------------- */

h4 {font-size: 30px;}
h3 {font-size: 35px;}
h2 {font-size: 40px;}
h1 {font-size: 45px;}

/* main_visual ----------------------------------------------------------*/
/* header -----------------------------------*/
header {
    width:100%;height: 65px; line-height:65px; 
    background: rgba(255,255,255,0.7);
background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 100%);
}
    header div { 
        width:100%;
        margin:0 auto;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    header div a{ 
        font-size: 17px;
        cursor: pointer;
    }
/* header end------------------------------ */
.main_visual{
    width:100%;
    height:500px;
    position: relative;
    ;}
        .main_visual .bg { 
            width:100%;
            height:100%;
        }
            .main_visual .bg img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            } 
        .main_visual .title { 
            width:1280px; height:100%;
            position: absolute;
            top:0; left:50%;
            transform:translatex(-50%);
            color:#fff;
            display:flex; /* inline요소인 a를 block성격이 되도록 만들어준 직접요인 */
            flex-wrap: wrap;
            align-content:center;
        }
            .main_visual .title h2 {
                font-style: italic;
                width:100%;
                font-size: 90px;
                /* text-shadow: 2px 3px 1px #333; */
            }
            .main_visual .title p {
                width:100%;
                font-size: 25px;
                letter-spacing: 2px;
                font-family:Georgia, 'Times New Roman', Times, serif;}

            .main_visual .under_arrow {
                position:absolute; bottom:1%; left:50%; transform:translatex(-50%);}
/* main_visual end */
/* v_category -------------------------------------------------------------*/
.category .list { /* 카테고리를 선택할 수 있는 곳 */
    /* background-color: yellowgreen; */
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;
    padding-top:40px;
}
    .category .list li {
        font-size: 25px;
        /* background-color: tomato; */
        display: inline-block;
        width:30%;
        text-align: center;
        cursor: pointer;
    }
    .category .list li:hover {
        font-size: 25px;
        /* background-color: tomato; */
        display: inline-block;
        width:30%;
        text-align: center;
        color:rgb(190, 190, 190)
    }



/* v_category end */
/*  video ----------------------------------------------------------------- */
.video { /* 카테고리에 속한 비디오들이 나타나는 영역 */
    display: none;
    flex-wrap: wrap;
}
.video.on { /* 카테고리에 속한 비디오들이 나타나는 영역 */
    display: flex;
    flex-wrap: wrap;    
    
}

/* .video  */
.video .item { /* 비디오 1개 콘텐츠의 전체박스 */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: antiquewhite; */
    padding:50px 10px;}
.video .item .cont { /* 영상과 영상정보의 박스*/
    /* background-color: antiquewhite; */
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:0 100px;
    padding-top: 50px;
}

.video .item .cont .youtube{
    width:50%;    
}
    .video .item .cont .youtube .youtube_in {
            width:100%;
            padding-bottom:56.25%; /* 유튜브박스공간을 16:9비율로 만들어준다. */
            position: relative;
        }
        .video .item .cont .youtube .youtube_in iframe {
                width:100%;
                height: 100%;
                position: absolute;
                top:0; left:0;
            }
.video .item .cont .info {/* 영상의 설명이 들어가는 곳 */
    width:47%; 
    /* background-color: aliceblue; */
}
    .video .item .cont .info h3 {
        font-size: 45px;
        margin:10px 0;
        font-family: 'Hahmlet-Bold';
        margin-bottom: 30px;
    }
    .video .item .cont .info h3:hover {
        font-size: 45px;
        margin:10px 0;
        font-family: 'Hahmlet-Bold';
        margin-bottom: 30px;
        color: rgb(86, 139, 93);
        transition: 0.9s;
    }
    .video .item .cont .info p {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 30px;}
    .video .item .cont .info dl {
        display: flex;
        font-size: 17px;
        margin-bottom: 8px;
    }
        .info dl dt {
            font-weight: bold;
            margin-right:10px;
        }
        .info dl a {text-decoration: underline; color:green}
        .info dl a:hover {text-decoration: underline; color:rgb(179, 218, 179); transition: 0.5s}
        
.video .sub_img {/* 비디오와 관련된 이미지가 들어가는 박스 */
    width: 100%;
    display: flex;
    margin-top:50px;
}
    .sub_img figure {
        width:20%; 
        height:100%;
        margin-right: 10px;
        box-sizing: border-box;
    }

        .sub_img figure img {
            width:100%; height: 100%; object-fit: cover;
            cursor: zoom-in;
        }
/*  video ------------------------------- */
/* .about -----------------------------------*/
.about {
    padding:50px 0; 
    /* background-color: rgb(255, 182, 182); */
    display: flex;
    justify-content: space-evenly;
}
.about a:hover {color:rgb(167, 167, 187);}
.about .about_title {
    display: flex;
    align-items: center;
    /* background-color: aliceblue; */
}
/* .about_컨텐츠박스 */
.about .cont {
    width:1600px;  
    display:flex; 
    justify-content: space-between;
    /* background-color: yellow; */
}
    /* 프로필  이미지+기본인적사항 박스 */
    .about .cont .basic {
        /* background-color: yellowgreen; */
        width:20%;
        height: 100%;
    }

    .about .cont .basic .propic {
        width:100%;
        height:100%;
        position: relative;
    }
    .about .cont .basic figure {
        width:90%; height:100%;
        position: absolute; top:0; left: 50%; transform: translateX(-50%);
    }
        .about .cont .basic figure img {
            width:100%; height:100%; object-fit: cover; 
            
        }

    /* 프로필 텍스트 영역 */
    .about .cont .info {
        width:75%;
        display:flex;
        justify-content: space-between;
        /* background-color: violet; */
    }
        .about .cont .info div {
            width:33%;
            margin:20px 0;
            /* background-color: turquoise; */
        }
        /* .about .cont .info div:nth-of-type(1) {
            width:25%;
            margin:20px 0;
            background-color: turquoise;
        } */
        .about .cont .info dl {display: flex;}
            .about .cont .info div:nth-of-type(1) h4 { font-size:30px; margin-bottom:20px;font-style: italic; color:#333;}
            .about .cont .info div h4 { font-size:30px; margin-bottom:20px;font-style: italic; color:rgb(148, 148, 148);}
            .about .cont p { font-size:17px; margin-bottom:2px;}
            .about .cont p:nth-child(3) a {color:rgb(64, 199, 188);
            }
            .about .cont .info div dl dt { font-size:18px; font-weight: bold; margin-bottom:3px;}
            .about .cont .info div dl dd { font-size:17px; margin-bottom: 12px; }
    
/* footer ----------------------------------------------*/
footer {text-align: center;
padding-top:20px;
padding-bottom:10px;
font-size:13px;
font-family: "돋움";
color:rgb(105, 116, 100);
background-color: rgb(233, 238, 223);}
/* footer p ----------------------*/
footer p:nth-of-type(1) {font-weight: bold; font-size:17px;font-family: 'NanumSquare'; margin-top:10px;margin-bottom:5px;}
footer p:nth-of-type(2) {margin-top:10px; margin-bottom: 20px;color:rgba(105, 116, 100, 0.3)}

/* footer ul 1 (유튜브 채널바로가기) ----------------------*/
footer ul:nth-of-type(1) .youtube a {
    color:rgb(255, 255, 255); 
    background-color: rgb(153, 202, 166);
    border: 1px solid rgb(100, 172, 67);
    display: inline-block; 
    padding:0 10px;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
}
footer ul:nth-of-type(1) a:hover {
    color:rgb(101, 165, 72); 
    background-color: #fff;
    transition:0.5s;
}

/* footer .connect span(CONNECT :) ----------------------*/

footer .connect span {
    font-size: 12px; letter-spacing: 1px; 
    margin-bottom:2px; 
    font-family: 'nanumspuare';
    /* background-color: #333; */
    display: inline-block;
}

/* footer .connect ul ----------------------*/

footer .connect {margin: 10px;}
footer .connect ul:nth-of-type(2) {
    display:block; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer .connect ul li a {
    color:rgb(245, 255, 240);
    background-color: rgb(104, 156, 152);
    /* border:1px solid rgb(255, 255, 255); */
    border-radius: 8px;
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 2px;
    height: 20px; line-height: 20px;
}

footer .connect ul span:nth-child(2) {margin: 0 5px;}

footer .connect ul li:nth-of-type(2) {
    /* background-color: rgb(243, 176, 176); */
    display: inline-block;
    border-radius: 5px;
}


/* footer ----------------------------------------------*/


/* 반응형 제작 - 해상도 가로 960px 이하일 때 적용되는 스타일*/

@media screen and (max-width:1280px) {
    /* 브라우저너비 1280px이하 일 때 스타일 */
    header div {width:100%;}
    .main_visual .title {width:100%;}
}/* 해상도 1280px이하 일 때 */

@media screen and (max-width:960px){
    .video .item .cont {flex-wrap: wrap;}
    .video .item .cont .youtube {width: 100%;}
    .video .item .cont .info {width:95%; margin:0 auto; margin-top:20px;}
    .video .item .cont .sub_img {width: 95%; margin:0 auto;margin-top:20px;}
    .about {flex-wrap: wrap;}
    .about .cont {flex-wrap: wrap;}
    .about .cont .basic {width:288px; height: 260px; margin: 0 auto;}
    .about .cont .info {width:90%; margin:0 auto;}
    .about .about_title {margin-bottom:20px;}
    .about .info div:nth-of-type(3) dl {flex-wrap: wrap;}
    .about .info div:nth-of-type(3) dl dt {width:100%;}
}

@media screen and (max-width:640px){
    .video .item .cont .info {width:100%; margin:0 auto; margin-top:20px;}
    .video .item .cont .sub_img {
        width: 100%; margin:0 auto;margin-top:20px;
    }
    .category .list {display:flex;flex-wrap: wrap; height:100px;padding:0;margin: 10px;}
    .category .list li {width:100%;font-size: 25px; 
    /* background-color: #333; */
    }
    .category .list li:hover {
        width:100%;font-size: 25px;
        color:rgb(190, 190, 190) 
    } 
    /* background-color: #333; */
}

@media screen and (max-width:390px){
    .main_visual {height: 230px;}
    .main_visual header div h4 {font-size: 20px; margin: 0 10px;}
    .main_visual header div a {font-size: 15px;}
    .main_visual .title {text-align: center;}
    .main_visual .title h2 {
        font-size: 80px;
    }
    .main_visual .title p {
        font-size: 20px; font-family: nanumsquare;}
    .Contents .video h3 {
        font-size: 25px;
    }
    .Contents .video .category_title1 {
        width:100%;
        padding: 0;
        text-align: center;
    }
    .Contents .video .category_title2 {
        width:100%;
        padding: 0;
        text-align: center;
    }
    .Contents .video .category_title3 {
        width:100%;
        padding: 0;
        text-align: center;
    }
    .Contents .video .item {
        padding:0; margin:0;
        margin-bottom:10px;
    }
    .Contents .video .item .cont {width:98%; margin:0 auto; padding:10px}
    .Contents .video .item .info h3 {
        font-size: 30px; 
        margin:0; 
        padding:0;
        margin-bottom: 8px;
    }
    .Contents .video .item .info p {
        display:inline-block;
        /* background-color: yellowgreen; */
        font-size: 18.5px;
    }
    .Contents .video .item .info dl {font-size: 17px;}

.category .list {margin:0; margin-top:1px;}
.category .list li {font-size: 20px;}
.category .list li:hover {font-size: 20px;}

about {padding:0; margin:0;}
.about .cont .info {display: flex; flex-wrap: wrap;}
.about .cont .info div {width:100%; margin:5px 0;}
.about .about_title h2 {font-size: 25px; margin:0; padding:0}
.about .cont .info div h4 {font-size:20px; margin-bottom: 2px;}
.about .cont .info div:nth-of-type(1) h4 {
    font-size: 18px; text-align: center;
    margin-top: 10px; 
    padding:0;
margin-bottom:3px}

.about .cont .info div p {margin:0; padding: 0; font-size: 14px;}
.about .cont .info div:nth-child(1) p {text-align: center;}
.about .cont .info div dl dt {font-size: 14px;margin:0; margin-right: 10px; padding:0;}
.about .cont .info div dl dd {font-size: 14px;margin:0; padding:0;}
.about .cont .info div span {
    display:inline-block;
    margin-top: 5px;
}

.about .cont .info div:nth-child(3)  {display: flex; flex-wrap:wrap; align-items:flex-start;}
.about .cont .info div:nth-child(3) h4 {width: 100%;}
.about .cont .info div:nth-child(3) dl {width: 50%;}

footer p:nth-of-type(2) {font-size: 11px; padding:0 30px; word-break:keep-all;}
}
/* word-break : 영역을 벗어나는 텍스트의 줄바꿈에 대한 설정 */
/* !important 해당설정값을 임의로 최우선 순위로 변경한다 */



/* 2022.05.06 하수정 */
.category.on {
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    background-color: #fff;
}

/* 퀵메뉴 하수정 */
aside {
    position: fixed;
    right: 30px;
    bottom: 70px;
}
aside ul li {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin: 5px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 14px;
    box-shadow: 3px 3px 10px rgba(105, 116, 100, 0.3);
}
aside ul li a {
    display: block;
}