@charset "utf-8";
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "Hahmlet-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Bold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ONE-Mobile-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KCC-eunyoung";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KyoboHandwriting2022khn";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 2D그래픽 제작 및 합성 작업 */
.video .category_title1 {
  /* 선택한 카테고리를 보여주는 곳 */
  width: 100%;
  height: 150px;
  line-height: 150px;
  text-align: center;
  color: rgba(0, 0, 0, 0.534);
  font-family: "Hahmlet";
}

.Contents section:nth-of-type(1) {
  background-color: rgb(255, 251, 247);
}

/* 영상 촬영 및 편집 작업 */
.video .category_title2 {
  /* 선택한 카테고리를 보여주는 곳 */
  width: 100%;
  height: 150px;
  line-height: 150px;
  text-align: center;
  color: rgba(0, 0, 0, 0.534);
  font-family: "Hahmlet";
}
.Contents section:nth-of-type(2) {
  background-color: rgb(245, 237, 234);
}

/* 3D그래픽작업 */
.video .category_title3 {
  /* 선택한 카테고리를 보여주는 곳 */
  width: 100%;
  height: 150px;
  line-height: 150px;
  text-align: center;
  color: rgba(0, 0, 0, 0.534);
  font-family: "Hahmlet";
}
.Contents section:nth-of-type(3) {
  background-color: rgb(255, 250, 246);
}

/*  video ----------------------------------------------------------------- */
.video {
  /* 카테고리에 속한 비디오들이 나타나는 영역 */
  display: none;
  flex-wrap: wrap;
}
.video.on {
  /* 카테고리에 속한 비디오들이 나타나는 영역 */
  display: flex;
  flex-wrap: wrap;
}

/* .video  */
.video .item {
  /* 비디오 1개 콘텐츠의 전체박스 */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  padding: 20px 0;
  /* background-color: rgb(109, 100, 88); */
}
.video .item .cont {
  /* 영상과 영상정보의 박스*/
  /* background-color: antiquewhite; */
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 70px 10px;
}

.video .item .title {
  width: 100%;
  margin-bottom: 20px;
}
.video .item .title h3 {
  font-size: 50px;
  font-family: "Hahmlet-Bold";
  display: inline-block;
  /* margin-bottom: 30px; */
}

.video .item .cont .youtube {
  width: 58%;
  margin: 0 auto;
}
.video .item .cont .youtube .youtube_in {
  width: 100%;
  padding-bottom: 56.25%; /* 유튜브박스공간을 16:9비율로 만들어준다. */
  position: relative;
}
.video .item .cont .youtube .youtube_in iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.video .item .cont .info {
  /* 영상의 설명이 들어가는 곳 */
  width: 40%;
  margin: 0 auto;
  /* background-color: rgba(255, 231, 211, 0.651); */
}

.video .item .cont .infobox {
  /* 영상의 설명이 들어가는 곳 */
  padding: 20px 40px;
  /* background-color: aliceblue; */
}

.video .item .cont .info h3 {
  font-size: 50px;
  margin: 10px 0;
  font-family: "Hahmlet-Bold";
  margin-bottom: 20px;
}
.video .item .cont h3:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

.video .item .cont .info .main_info {
  width: 70%;
  word-break: keep-all;
}
.video .item .cont .info .main_info p {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
  letter-spacing: 0.4px;
}

.video .item .cont .info_p {
  margin: 20px 0;
  width: 90%;
}
.video .item .cont .info_dl {
  /* display: flex; */
  font-size: 17px;
  /* margin: 20px 0; */
  /* height: 30%; */
}

.info_dl .info_title {
  /* display: block; */
  font-size: 30px;
  font-family: "KCC-eunyoung";
  /* font-family: "KyoboHandwriting2022khn"; */
}
.info_dl a {
  /* text-decoration: underline; */
  color: rgb(173, 130, 94);
}
.info_dl a:hover {
  text-decoration: underline;
  color: #ff7b00;
  transition: 0.3s;
}

.item .cont .info .tool {
  /* margin: 20px 0; */
  /* padding-left: 5px; */
}

.video .sub_img {
  /* 비디오와 관련된 이미지가 들어가는 박스 */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* margin-top: 50px; */
}

.sub_img div {
  width: 100%;
}
.sub_img figure {
  width: 18%;
  height: 100px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 3px 0;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.sub_img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.sub_img div {
  font-family: "NanumSquareRound";
  font-size: 15px;
  color: rgba(51, 51, 51, 0.418);
}

/*  video ------------------------------- */
